openapi: 3.1.0

info:
  title: Recon API (unofficial)
  version: "1.7.31"
  summary: Reverse-engineered specification for the Recon v3 API.
  description: |
    Unofficial machine-readable specification for the [recon.com](https://www.recon.com)
    v3 API. Recon publishes no API and no documentation; this was derived from the public
    Angular web client and from traffic produced by the author's own account.

    ## Scope

    This document covers **everything a member can do**: authentication, messaging,
    profiles and profile editing, the discovery grid and saved filters, the full social
    graph (blocks, cruises, visits, friend requests, follows), media galleries and
    uploads, the feed, sponsored content, location, membership, events, and reporting.

    Two areas are deliberately **not** modelled, and are described in prose in
    [`../api/recon.md`](../api/recon.md) instead:

    - **Payment and verification.** Account administration rather than member actions.
    - **`dvrt` admin paths.** Advertiser-side, not reachable by a normal account.

    ## Confidence

    Provenance is per-endpoint in the prose reference. In this document the split is:

    - The **read** surface is largely `[observed]` — seen on the wire.
    - Most **write** paths are `[client]`: read from Recon's own Angular bundle, which
      makes the paths, parameters and body shapes authoritative, but they have **not
      been exercised against the live API** by this project. Treat a surprising response
      as new information about the API rather than as a defect in this document, and
      please report it.

    ## Traps this specification cannot express

    - `accessToken` is returned **already prefixed with `"Bearer "`**. Re-adding the
      prefix yields `Bearer Bearer`, which the *profile* service accepts and the
      *messaging* and *SignalR* services reject with an empty-body 401.
    - `applicationId` must be the **integer 3**, not a UUID.
    - The `totalRecords` field on message history is the size of the **returned page**,
      not the conversation total.
    - `participants[]` on a conversation **excludes you**.
    - The realtime channel uses different field names for the same concepts
      (`profileId`/`messageText` instead of `senderProfileId`/`text`). It is not REST and
      is documented in [`../api/recon-realtime.md`](../api/recon-realtime.md).
  license:
    name: MIT
    identifier: MIT
  contact:
    name: scruff-recon-sdk
    url: https://github.com/vladzaharia/scruff-recon-sdk

externalDocs:
  description: |
    Getting started (required call order) and the full prose reference
  url: https://github.com/vladzaharia/scruff-recon-sdk/blob/main/docs/api/getting-started.md

x-prose-reference:
  description: Prose reference, including everything not modelled here
  url: https://github.com/vladzaharia/scruff-recon-sdk/blob/main/docs/api/recon.md

servers:
  - url: https://www.recon.com/api
    description: API gateway

security:
  - bearerAuth: []

tags:
  - name: account
    description: Authentication, app installation, and server settings.
  - name: messaging
    description: Conversations and messages. All paths are keyed by your profile id.
  - name: profile
    description: Member profiles and the attribute lookup tables.
  - name: profileSearch
    description: The nearby and explore grid.
  - name: profileRelations
    description: Blocks, cruises, visits.
  - name: feed
    description: Notifications.
  - name: media
    description: Galleries and profile photos.
  - name: dvrt
    description: |
      Sponsored content and broadcast messages. ("dvrt"/"dvrtsr" = advert/advertiser.)
      Drives the official threads that appear in the inbox.
  - name: location
    description: Location lookup, distance, and position publishing.
  - name: membership
    description: Subscription status.
  - name: contentReview
    description: Reporting profiles and message content.
  - name: antiAbuse
    description: Display-name screening.
  - name: event
    description: Events and RSVPs.

paths:
  /account/appInstallations:
    post:
      tags: [account]
      security: []
      summary: Register an app installation
      description: |
        Must be called before authenticating; the returned `id` is required by
        `/account/accounts/authenticate`.

        **`applicationId` must be the integer `3`.** Sending a UUID makes the server
        reject the entire request model.
      parameters:
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AppInstallationRequest' }
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema: { type: string }
              description: "`/appInstallations/{id}`"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppInstallation' }
        default: { $ref: '#/components/responses/Error' }

  /account/accounts/authenticate:
    post:
      tags: [account]
      security: []
      summary: Authenticate with email and password
      parameters:
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuthenticateRequest' }
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenSet' }
        default: { $ref: '#/components/responses/Error' }

  /account/accounts/{accountId}/sessions/{sessionId}/refreshTokens:
    post:
      tags: [account]
      security: []
      summary: Exchange a refresh token for a new token set
      description: |
        Sent **without** an `Authorization` header — the web client's auth interceptor
        explicitly skips any URL containing `/refreshTokens`.

        Derived from the web client, not from observed traffic: the captured session
        re-authenticated rather than refreshing, so this path has never been seen on the
        wire.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sessionId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: Refreshed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenSet' }
        default: { $ref: '#/components/responses/Error' }

  /account/accounts/{accountId}/sessions/{sessionId}:
    delete:
      tags: [account]
      summary: Log out
      description: Discarding tokens locally leaves the server session alive; call this to end it.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/sessionId'
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Session ended }
        default: { $ref: '#/components/responses/Error' }

  /account/appSettings:
    get:
      tags: [account]
      security: []
      summary: Server settings and limits
      description: |
        The authoritative source of every server-side limit. Fetch this rather than
        hardcoding: the real caps (1000-character messages, 50 MiB uploads, 10
        attachments) differ from what is commonly assumed.
      parameters:
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/deviceTypeId'
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppSettings' }
        default: { $ref: '#/components/responses/Error' }

  /account/accounts/{accountId}/appSettings:
    get:
      tags: [account]
      summary: Account-scoped server settings
      description: Same schema as the anonymous form, personalised to the account.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/deviceTypeId'
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppSettings' }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations:
    get:
      tags: [messaging]
      summary: List conversations
      description: |
        Not paginated — one observed account returned all 873 threads in a single
        188 kB response.

        Supplying `profileId` and `otherProfileId` as query parameters instead turns this
        into a 1:1 lookup; an empty `data` array then means "no conversation yet", which
        is not an error.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
        - name: isHidden
          in: query
          schema: { type: boolean, default: false }
        - name: profileId
          in: query
          description: Your own profile id, for the 1:1 lookup form.
          schema: { type: string, format: uuid }
        - name: otherProfileId
          in: query
          description: The peer's profile id, for the 1:1 lookup form.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Conversation' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

    post:
      tags: [messaging]
      summary: Create a 1:1 conversation
      description: |
        If the conversation already exists the server responds with a conflict or a
        redirect plus a `Location` header; follow it.

        Note the **PascalCase `ProfileId`** inside `participants` — this and
        `LastMessageReadDate` are the only two non-camelCase bodies in the entire API.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateConversationRequest' }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }
        '409':
          description: Already exists
          headers:
            Location:
              schema: { type: string }
              description: Follow this to the existing conversation.
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}:
    get:
      tags: [messaging]
      summary: Fetch one conversation
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Conversation
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }
        default: { $ref: '#/components/responses/Error' }

    delete:
      tags: [messaging]
      summary: Delete a conversation
      description: Recon has no per-message delete; only whole threads and individual attachments.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Deleted }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}/content:
    get:
      tags: [messaging]
      summary: Fetch message history
      description: |
        Results are ordered **newest first**.

        Pagination is a **`before` cursor holding the ISO `createdDate` of the oldest
        message you already hold** — not an id, not an offset. An empty `data` array
        means the start of the conversation.

        `totalRecords` here is the size of the returned page, **not** the conversation
        total. Do not use it for paging arithmetic.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/culture'
        - name: take
          in: query
          description: Page size. The web client uses 20.
          schema: { type: integer, default: 20 }
        - name: before
          in: query
          description: The `createdDate` of the oldest message already held.
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/imageSizes'
      responses:
        '200':
          description: Messages, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  totalRecords:
                    type: integer
                    description: Size of THIS page, not the conversation total.
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}/messages:
    post:
      tags: [messaging]
      summary: Send a message
      description: |
        Three forms exist.

        **Text** — JSON with `files` and `attachments` always present as empty arrays,
        never omitted. There is no `contentTypeId` in the request; the server assigns it.

        **Inline media** — `multipart/form-data` with a `text` field, an `attachments`
        field holding a **JSON-encoded string array** (usually `[]`), and a **repeated
        `files` part**, one per binary. This is the path the web client uses for images
        and GIFs.

        **By reference** — JSON using `attachmentIds` for media already uploaded to the
        media service.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/imageSizes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SendTextRequest'
                - $ref: '#/components/schemas/SendByReferenceRequest'
          multipart/form-data:
            schema:
              type: object
              properties:
                text: { type: string }
                attachments:
                  type: string
                  description: A JSON-encoded array of media ids, e.g. `[]`.
                  default: '[]'
                files:
                  type: array
                  description: Repeated part, one per binary.
                  items: { type: string, format: binary }
            encoding:
              files:
                contentType: image/jpeg, image/png, image/gif, image/bmp
      responses:
        '200':
          description: Sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}/messages/{messageId}:
    get:
      tags: [messaging]
      summary: Fetch one message
      description: |
        Used to hydrate a realtime notification, whose payload omits attachments and
        reports only an `attachmentCount`.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - name: messageId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/imageSizes'
      responses:
        '200':
          description: Message
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}/logMessagesRead:
    post:
      tags: [messaging]
      summary: Advance the read watermark
      description: Note the **PascalCase** body key.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [LastMessageReadDate]
              properties:
                LastMessageReadDate: { type: string, format: date-time }
      responses:
        '204': { description: Recorded }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/recentAttachments:
    get:
      tags: [messaging]
      summary: Recently sent attachments
      description: |
        URLs here point at the authenticated gateway rather than the public CDN — chat
        media is auth-gated. Note the lowercase `nocache` parameter, which differs from
        the `noCache` used elsewhere.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/imageSizes'
        - name: nocache
          in: query
          schema: { type: integer, description: Epoch milliseconds. }
      responses:
        '200':
          description: Attachments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Attachment' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /profile/profiles/{profileId}/{version}:
    get:
      tags: [profile]
      summary: Fetch a profile
      description: |
        The trailing path segment is the **profile version**, not an image size.
        Requesting version `1` returns `302` to the current version, so `/1` is the
        idiomatic "give me current" — follow redirects.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: version
          in: path
          required: true
          description: Profile version, or `1` to be redirected to the current one.
          schema: { type: integer }
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/imageSizes'
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
        '302':
          description: Redirect to the current version
          headers:
            Location: { schema: { type: string } }
        default: { $ref: '#/components/responses/Error' }

  /profile/{table}:
    get:
      tags: [profile]
      summary: Fetch a profile attribute lookup table
      description: |
        Cacheable for 24 hours. Prefer fetching over hardcoding: the interest id space in
        particular is **sparse** — about a third of the range is retired — so assuming a
        contiguous range is wrong.

        `validHeightsCm` is the exception: its `data` is a bare integer array.
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
            enum: [ethnicities, positions, bodytypes, bodyhairs, safesexes, roles, interests, validHeightsCm]
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Lookup values
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/LookupValue'
                        - type: integer
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /profileSearch/profiles:
    get:
      tags: [profileSearch]
      summary: Search profiles
      description: |
        Two properties make this endpoint unusual.

        **It is not paginated.** There is no `skip`, `take`, or cursor — the server
        returns the entire result set and the web client slices locally.

        **Results are stubs.** To render anything you must fetch each `profileUrl`
        individually, a two-phase fetch. The profile version is the last path segment of
        `profileUrl`.

        Several filters are premium-only and are nulled client-side for free accounts.
      parameters:
        - $ref: '#/components/parameters/culture'
        - { name: myProfileId, in: query, required: true, schema: { type: string, format: uuid } }
        - { name: sortProperty, in: query, required: true, schema: { type: string, enum: [distance] } }
        - { name: name, in: query, schema: { type: string } }
        - { name: ageMin, in: query, schema: { type: integer } }
        - { name: ageMax, in: query, schema: { type: integer } }
        - { name: heightCmMin, in: query, schema: { type: integer }, description: Premium only. }
        - { name: heightCmMax, in: query, schema: { type: integer }, description: Premium only. }
        - { name: latitude, in: query, schema: { type: number } }
        - { name: longitude, in: query, schema: { type: number } }
        - { name: radiusMetres, in: query, schema: { type: integer } }
        - { name: activeWithinMinutes, in: query, schema: { type: integer, default: 43200 } }
        - { name: joinedWithinDays, in: query, schema: { type: integer } }
        - { name: isPremium, in: query, schema: { type: boolean }, description: Premium only. }
        - { name: hasVisibleImages, in: query, schema: { type: boolean }, description: Premium only. }
        - { name: isExplore, in: query, schema: { type: boolean } }
        - { name: positionIds, in: query, schema: { type: string }, description: Comma-separated ids. }
        - { name: roleIds, in: query, schema: { type: string } }
        - { name: interestIds, in: query, schema: { type: string } }
        - { name: safeSexIds, in: query, schema: { type: string } }
        - { name: bodyTypeIds, in: query, schema: { type: string }, description: Premium only. }
        - { name: bodyHairIds, in: query, schema: { type: string }, description: Premium only. }
        - { name: ethnicityIds, in: query, schema: { type: string }, description: Premium only. }
      responses:
        '200':
          description: Search result stubs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SearchResult' }
        default: { $ref: '#/components/responses/Error' }

  /profileSearch/profiles/{profileId}/defaultFilters:
    get:
      tags: [profileSearch]
      summary: Fetch saved search filters
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Filters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchFilters' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [profileSearch]
      summary: Save search filters
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchFilters' }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchFilters' }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/blocked:
    get:
      tags: [profileRelations]
      summary: List blocked profiles
      description: The only relations list that embeds a display name.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Blocked profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RelationEntry' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/{relation}:
    get:
      tags: [profileRelations]
      summary: List a relation
      description: Not paginated. One observed account returned 113 records in one response.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: relation
          in: path
          required: true
          schema:
            type: string
            enum: [cruisedProfiles, cruisedByProfiles, visitorProfiles]
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Relation entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  mostRecentDate: { type: string, format: date-time }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RelationEntry' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/{relation}/count:
    get:
      tags: [profileRelations]
      summary: Relation counters
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: relation
          in: path
          required: true
          schema:
            type: string
            enum: [cruisedByProfiles, visitorProfiles, followers, following]
          description: |
            Note `following` is **singular** here, against the plural `followings` used
            for the list on `profileSearch`. `cruisedByProfiles` and `visitorProfiles`
            return RelationCounts; `followers` and `following` return `{count}`.
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Counters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RelationCounts' }
        default: { $ref: '#/components/responses/Error' }

  /feed/profiles/{profileId}/feeds/notifications:
    get:
      tags: [feed]
      summary: List notifications
      description: |
        Returns stubs; dereference `feedItemUrl` for the rendered copy. The server
        supplies the text, so a client does not need per-type strings.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
        - { name: noCache, in: query, schema: { type: boolean } }
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FeedItem' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/galleries:
    get:
      tags: [media]
      summary: List galleries
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
        - $ref: '#/components/parameters/deviceTypeId'
        - $ref: '#/components/parameters/imageSizes'
        - name: sortProperty
          in: query
          description: "`2` = upload date newest first; `3` = curated gallery position."
          schema: { type: integer, enum: [2, 3], default: 2 }
        - { name: includeRestricted, in: query, schema: { type: boolean } }
        - { name: noCache, in: query, schema: { type: boolean } }
      responses:
        '200':
          description: Galleries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Gallery' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /account/accounts/{accountId}/preferences:
    parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/culture'
    get:
      tags: [account]
      summary: Read account display preferences
      description: |
        The two metric flags are independent: an account can show imperial distance and
        metric height at once, which is the default in several locales.
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountPreferences' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [account]
      summary: Replace account display preferences
      description: A full replace, not a merge. Read first, modify, send the whole object.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountPreferences' }
      responses:
        '200': { description: Updated }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/preferences:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/culture'
    get:
      tags: [messaging]
      summary: Read message notification preferences
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessagingPreferences' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [messaging]
      summary: Replace message notification preferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MessagingPreferences' }
      responses:
        '200': { description: Updated }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/contacts:
    get:
      tags: [messaging]
      summary: List messaging contacts
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RelationEntry' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /messaging/profiles/{profileId}/conversations/{conversationId}/attachments/{attachmentId}:
    delete:
      tags: [messaging]
      summary: Delete an attachment from a conversation
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/conversationId'
        - name: attachmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Deleted }
        default: { $ref: '#/components/responses/Error' }

  /profile/profiles/{profileId}:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/culture'
    put:
      tags: [profile]
      summary: Replace a profile
      description: |
        A full replace: every field you do not populate is sent as its zero value. Prefer
        PATCH for ordinary edits.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Profile' }
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
        default: { $ref: '#/components/responses/Error' }
    patch:
      tags: [profile]
      summary: Patch a profile (RFC 6902 JSON Patch)
      description: |
        The official client only ever sends `replace`, and **always includes
        `/rowVersion`** for optimistic concurrency. Omitting it is how concurrent edits
        silently clobber one another: `rowVersion` reads as `null` on a fetched profile
        but is required here.

        Observed patch sets: bio (`/shortText`, `/longText`), rename (`/name`), details
        (`/dateOfBirth`, `/positionId`, `/ethnicityId`, `/heightCm`, `/bodyTypeId`,
        `/bodyHairId`, `/roleId`), interests (`/interests`), visibility (`/isPublic`).
        `/safeSexId` is readable but appears in no patch set.
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/PatchOp' }
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
        '409':
          description: rowVersion did not match; re-read and retry
        default: { $ref: '#/components/responses/Error' }

  /profile/profiles/{profileId}/detail/{version}:
    get:
      tags: [profile]
      summary: Fetch a profile's long bio
      description: |
        Split out from the profile document so it can be cached and invalidated
        independently by version. `Profile.longText` is always null; this is where the
        bio actually lives. The official client caches it for 15 minutes.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: version
          in: path
          required: true
          schema: { type: integer }
          description: The profile's version number, from `Profile.version`.
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Bio
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProfileDetail' }
        default: { $ref: '#/components/responses/Error' }

  /profile/officialProfiles/{profileId}:
    get:
      tags: [profile]
      summary: Fetch a system or blog persona
      description: |
        Official profiles differ from member profiles in ways that break naive handling:
        `membershipLevelId` and `age` are 0, `detailUrl` is null, and `lastUpdatedDate`
        is the zero time.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profile' }
        default: { $ref: '#/components/responses/Error' }

  /profile/validHeightsCm:
    get:
      tags: [profile]
      summary: Valid height values
      description: |
        The one lookup endpoint whose `data` is a **bare integer array** rather than
        `{id, name}` objects.
      parameters:
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Heights in centimetres
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: integer }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /profileSearch/profiles/name/{profileName}:
    get:
      tags: [profileSearch]
      summary: Resolve a display name to a profile id
      parameters:
        - name: profileName
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Profile id
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
        default: { $ref: '#/components/responses/Error' }

  /profileSearch/profiles/{profileId}/{socialRelation}:
    get:
      tags: [profileSearch]
      summary: List friends, followers or followings
      description: |
        Entries are split by whether the relationship is reciprocated.

        Note the naming asymmetry in this API: the **lists** (`friends`, `followers`,
        `followings` — plural) live here on `profileSearch`, while the **counts**
        (`followers/count`, `following/count` — singular "following") live on
        `profileRelations`.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: socialRelation
          in: path
          required: true
          schema: { type: string, enum: [friends, followers, followings] }
        - name: myProfileId
          in: query
          schema: { type: string, format: uuid }
        - name: noCache
          in: query
          schema: { type: boolean }
          description: Sent when reading your own lists, which you may have just changed.
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Social list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SocialList' }
        default: { $ref: '#/components/responses/Error' }

  /profileSearch/profiles/{profileId}/friends/count:
    get:
      tags: [profileSearch]
      summary: Count friends, split by mutuality
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: myProfileId
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Counts
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SocialCounts' }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/blocks/{targetProfileId}:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/targetProfileId'
      - $ref: '#/components/parameters/culture'
    put:
      tags: [profileRelations]
      summary: Block a profile
      description: Capped by `appSettings.limits.blocks` (50 on the observed account).
      responses:
        '200': { description: Blocked }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [profileRelations]
      summary: Unblock a profile
      responses:
        '204': { description: Unblocked }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/cruisedProfiles/{targetProfileId}:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/targetProfileId'
      - $ref: '#/components/parameters/culture'
    put:
      tags: [profileRelations]
      summary: Cruise a profile
      description: |
        A cruise is Recon's like. It is **visible to the recipient and notifies them**.

        Re-cruising the same profile is throttled by
        `appSettings.limits.cruiseMinUpdatePeriodDays` (7). The rejection is a normal
        error whose `title` contains a `{cruiseMinUpdatePeriod}` token — treat it as
        "too soon" rather than as a transport failure, and do not retry it.

        The request body is a literal `null`, not an empty object.
      responses:
        '200': { description: Cruised }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [profileRelations]
      summary: Withdraw a cruise
      responses:
        '204': { description: Withdrawn }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/visitedProfiles/{targetProfileId}:
    put:
      tags: [profileRelations]
      summary: Record a profile visit
      description: |
        Recording a visit is what puts you in the target's visitors list. Simply
        **fetching** a profile does not do this; the visit is a separate, explicit act.

        Suppressed server-side when your own `showVisits` preference is false, which is
        what stealth mode means.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/targetProfileId'
        - name: source
          in: query
          schema: { type: integer }
          description: '`2` when arriving from the v2 site.'
        - $ref: '#/components/parameters/culture'
      responses:
        '200': { description: Recorded }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/logCruisedByViewed:
    post:
      tags: [profileRelations]
      summary: Mark the cruised-by list seen
      description: |
        Send the `mostRecentDate` from the list response rather than the current time:
        that is what the official client does, and it avoids marking entries seen that
        arrived between the read and this call.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ViewedDate' }
      responses:
        '200': { description: Watermark moved }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/logVisitorsViewed:
    post:
      tags: [profileRelations]
      summary: Mark the visitors list seen
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ViewedDate' }
      responses:
        '200': { description: Watermark moved }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/listViewStats:
    get:
      tags: [profileRelations]
      summary: Last-viewed watermarks for the cruise and visitor lists
      description: |
        Compare each list entry's `date` against the matching watermark; newer, or a null
        watermark, means unseen. Notifications are **not** covered here — they use
        `feed/.../logNotificationsViewed`.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Watermarks
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListViewStats' }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/friendRequests:
    get:
      tags: [profileRelations]
      summary: List pending friend requests
      description: |
        Returns requests in both directions. Compare `requestingProfileId` against your
        own id to tell incoming from outgoing.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FriendRequest' }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/friendRequests/{targetProfileId}:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/targetProfileId'
      - $ref: '#/components/parameters/culture'
    put:
      tags: [profileRelations]
      summary: Send a friend request
      description: |
        Notifies the target. Capped by `appSettings.limits.friends` (500).

        Error `103000002` means **you** are at your limit; `103000009` means **they**
        are at theirs. The second is not something the user can act on, so surface it
        differently.
      responses:
        '200': { description: Requested }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [profileRelations]
      summary: Withdraw a friend request
      responses:
        '204': { description: Withdrawn }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/friendRequestResponse/{targetProfileId}/{decision}:
    post:
      tags: [profileRelations]
      summary: Accept or reject a friend request
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/targetProfileId'
        - name: decision
          in: path
          required: true
          schema: { type: string, enum: [accept, reject] }
        - $ref: '#/components/parameters/culture'
      responses:
        '200': { description: Answered }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/friends/{targetProfileId}:
    delete:
      tags: [profileRelations]
      summary: End a friendship
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/targetProfileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Removed }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/profiles/{profileId}/followers/{targetProfileId}:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/targetProfileId'
      - $ref: '#/components/parameters/culture'
    put:
      tags: [profileRelations]
      summary: Follow a profile
      description: One-way and needs no approval, unlike friending. Capped by `limits.following` (500).
      responses:
        '200': { description: Followed }
        default: { $ref: '#/components/responses/Error' }
    delete:
      tags: [profileRelations]
      summary: Unfollow, or remove a follower
      description: |
        This endpoint serves **both** purposes in the official client: it unfollows
        someone you follow and removes a follower of yours. Which it does depends on the
        existing relationship, not on the request.
      responses:
        '204': { description: Removed }
        default: { $ref: '#/components/responses/Error' }


  /profileRelations/profiles/{profileId}/preferences:
    parameters:
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/culture'
    get:
      tags: [profileRelations]
      summary: Read social notification preferences
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RelationPreferences' }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [profileRelations]
      summary: Replace social notification preferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RelationPreferences' }
      responses:
        '200': { description: Updated }
        default: { $ref: '#/components/responses/Error' }
    patch:
      tags: [profileRelations]
      summary: Patch social notification preferences
      description: |
        `showVisits: false` **is** stealth mode — note the inversion when exposing it as
        a "stealth" toggle.
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/PatchOp' }
      responses:
        '200': { description: Updated }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/v2Favourites/{profileId}/canImport:
    get:
      tags: [profileRelations]
      summary: Can legacy favourites be imported
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Availability
          content:
            application/json:
              schema:
                type: object
                properties:
                  value: { type: boolean }
        default: { $ref: '#/components/responses/Error' }

  /profileRelations/v2Favourites/{profileId}/import:
    post:
      tags: [profileRelations]
      summary: Import legacy favourites as cruises
      description: Not reversible in bulk. Check `canImport` first.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200': { description: Imported }
        default: { $ref: '#/components/responses/Error' }

  /feed/profiles/{profileId}/feeds/{feedName}:
    get:
      tags: [feed]
      summary: Read a feed
      description: |
        The feed name is a path segment, so feeds beyond `notifications` and `home` may
        exist. The dereferenced feed item (see `/feed/feedItems/{feedItemId}`) carries
        the display strings the stub omits.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - name: feedName
          in: path
          required: true
          schema: { type: string, examples: [notifications, home] }
        - name: noCache
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Feed items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FeedItem' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /feed/feedItems/{feedItemId}:
    get:
      tags: [feed]
      summary: Dereference one feed item
      parameters:
        - name: feedItemId
          in: path
          required: true
          schema: { type: string }
          description: Numeric, but carried as a **string**.
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Feed item
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeedItem' }
        default: { $ref: '#/components/responses/Error' }

  /feed/profiles/{profileId}/logNotificationsViewed:
    post:
      tags: [feed]
      summary: Mark notifications seen
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ViewedDate' }
      responses:
        '200': { description: Watermark moved }
        default: { $ref: '#/components/responses/Error' }

  /dvrt/profiles/{profileId}/bulkMessages:
    get:
      tags: [dvrt]
      summary: List broadcast and sponsored messages
      description: |
        These drive the "official" threads that appear in the inbox alongside real
        conversations, and they come from a different service than `messaging`.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/deviceTypeId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BulkMessage' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /dvrt/profiles/{profileId}/bulkMessages/{bulkMessageId}/read:
    post:
      tags: [dvrt]
      summary: Mark a broadcast message read
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/bulkMessageId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200': { description: Marked read }
        default: { $ref: '#/components/responses/Error' }

  /dvrt/profiles/{profileId}/bulkMessages/{bulkMessageId}/delete:
    delete:
      tags: [dvrt]
      summary: Delete a broadcast message
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/bulkMessageId'
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Deleted }
        default: { $ref: '#/components/responses/Error' }

  /dvrt/dvrtsrs/{dvrtsrId}:
    get:
      tags: [dvrt]
      summary: Fetch an advertiser
      description: |
        Resolve `BulkMessage.senderUrl` here **only when `isOfficial` is false**. When it
        is true the same field points at `/profile/officialProfiles/{id}` instead — it is
        a discriminated pointer, not a stable service.
      parameters:
        - name: dvrtsrId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Advertiser
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Advertiser' }
        default: { $ref: '#/components/responses/Error' }

  /location/locations/{locationId}:
    get:
      tags: [location]
      summary: Resolve a location id to display names
      description: |
        `ttlMinutes` is the server telling you how long to cache the result. When a
        profile carries no `locationUrl` the official client shows nothing rather than
        falling back to anything.
      parameters:
        - name: locationId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Location
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }
        default: { $ref: '#/components/responses/Error' }

  /location/granularLocations/{lowerLocationId}/distances/{higherLocationId}:
    get:
      tags: [location]
      summary: Distance between two locations
      description: |
        The two ids must be sorted **lower first**, numerically. The endpoint is not
        symmetric in its path, so `900/distances/100` is not the same request as
        `100/distances/900`. Sorting lexically is wrong: `"1000" < "900"` as strings.
      parameters:
        - name: lowerLocationId
          in: path
          required: true
          schema: { type: string }
        - name: higherLocationId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Distance
          content:
            application/json:
              schema:
                type: object
                properties:
                  distanceMetres: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /location/profiles/{profileId}/geolocation:
    put:
      tags: [location]
      summary: Publish your position
      description: |
        Cadence expected by the server, from `appSettings.geolocation`: no more often
        than every 2 minutes, at least every 15 minutes, and on movement over 99 m.

        `accuracyMetres` is device-sourced — omit it rather than inventing a value.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GeoLocation' }
      responses:
        '200': { description: Recorded }
        default: { $ref: '#/components/responses/Error' }

  /membership/profiles/{profileId}/membershipStatus:
    get:
      tags: [membership]
      summary: Subscription status
      description: |
        `membershipLevelId` is 0 for free and official profiles and >= 1 for premium. The
        official client only ever tests `> 0`, so higher tiers may exist without distinct
        behaviour; test for premium rather than comparing to a specific tier.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Membership
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MembershipStatus' }
        default: { $ref: '#/components/responses/Error' }

  /contentReview/reportCategories/:
    get:
      tags: [contentReview]
      summary: List report categories
      description: |
        Note the **required trailing slash**; without it the endpoint 404s.

        Only id 13 ("Other") is hardcoded in the official client. Fetch the rest rather
        than assuming the numbering is stable.
      parameters:
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ReportCategory' }
        default: { $ref: '#/components/responses/Error' }

  /contentReview/profiles/{profileId}/report:
    post:
      tags: [contentReview]
      summary: Report a profile
      description: |
        Affects another person's account and is not reversible from the client. Send it
        in response to a deliberate human decision, never automatically.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Report' }
      responses:
        '200': { description: Reported }
        default: { $ref: '#/components/responses/Error' }

  /antiAbuse/profileNameChecks:
    post:
      tags: [antiAbuse]
      summary: Check a candidate display name
      description: |
        **Unauthenticated**, so it is usable before login. The client-side rule is
        `^[a-zA-Z0-9]{4,20}$`; this endpoint is the server's stricter view.
      security: []
      parameters:
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [profileName]
              properties:
                profileName: { type: string }
                profileId:
                  type: [string, 'null']
                  format: uuid
      responses:
        '200':
          description: Verdict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NameCheck' }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/galleries/{galleryId}:
    get:
      tags: [media]
      summary: Fetch one gallery
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/galleryId'
        - $ref: '#/components/parameters/imageSizes'
        - $ref: '#/components/parameters/deviceTypeId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Gallery
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gallery' }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/galleries/{galleryId}/fileProperties:
    get:
      tags: [media]
      summary: List images in a gallery
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/galleryId'
        - $ref: '#/components/parameters/imageSizes'
        - $ref: '#/components/parameters/sortProperty'
        - $ref: '#/components/parameters/deviceTypeId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Images
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaFilePropertiesList' }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/fileProperties:
    get:
      tags: [media]
      summary: List every image on a profile
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/imageSizes'
        - $ref: '#/components/parameters/sortProperty'
        - name: galleryTypeId
          in: query
          schema: { type: integer }
        - $ref: '#/components/parameters/deviceTypeId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Images
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaFilePropertiesList' }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/files:
    post:
      tags: [media]
      summary: Upload a photo
      description: |
        Limits from `appSettings.limits`: `maxFileSizeBytes` 52428800 (50 MiB),
        `maximumFilesPerProfile` 500, `maximumFilesInMainGallery` 5,
        `maximumUploadsInBatch` 50, `minImageResolution` 400, extensions
        `.bmp .gif .jpg .jpeg .png`. Read them from `appSettings` rather than hardcoding;
        they differ from what is commonly assumed.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, galleryTypeId]
              properties:
                file: { type: string, format: binary }
                galleryId: { type: string, format: uuid }
                galleryTypeId: { type: integer }
      responses:
        '200':
          description: Uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaFileProperties' }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/files/delete:
    post:
      tags: [media]
      summary: Delete photos by id
      description: A POST despite being a delete; the body is a bare array of ids.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { type: string, format: uuid }
      responses:
        '200': { description: Deleted }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/galleries/{galleryId}/files/{fileId}:
    delete:
      tags: [media]
      summary: Remove an image from a gallery
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/galleryId'
        - $ref: '#/components/parameters/fileId'
        - $ref: '#/components/parameters/culture'
      responses:
        '204': { description: Removed }
        default: { $ref: '#/components/responses/Error' }

  /media/profiles/{profileId}/galleries/{galleryId}/files/{fileId}/position:
    put:
      tags: [media]
      summary: Reorder an image within a gallery
      description: |
        Position 1 in the **primary** gallery is what "set as main photo" means; there is
        no separate endpoint for it.
      parameters:
        - $ref: '#/components/parameters/profileId'
        - $ref: '#/components/parameters/galleryId'
        - $ref: '#/components/parameters/fileId'
        - $ref: '#/components/parameters/culture'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value: { type: integer }
      responses:
        '200': { description: Reordered }
        default: { $ref: '#/components/responses/Error' }

  /event/events:
    get:
      tags: [event]
      summary: List events
      description: |
        `skip`/`take` are appended by the official client **only when `take` is
        non-zero**; an unpaged request is a different request from `skip=0&take=0`. The
        client pages these 24 at a time.
      parameters:
        - name: skip
          in: query
          schema: { type: integer }
        - name: take
          in: query
          schema: { type: integer }
        - name: isPast
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Event' }
                  totalRecords: { type: integer }
        default: { $ref: '#/components/responses/Error' }

  /event/events/{eventId}:
    get:
      tags: [event]
      summary: Fetch one event
      parameters:
        - $ref: '#/components/parameters/eventId'
        - $ref: '#/components/parameters/culture'
      responses:
        '200':
          description: Event
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Event' }
        default: { $ref: '#/components/responses/Error' }

  /event/events/{eventId}/attendees/{profileId}:
    parameters:
      - $ref: '#/components/parameters/eventId'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/culture'
    get:
      tags: [event]
      summary: Read your RSVP
      responses:
        '200':
          description: RSVP status
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusId: { type: integer }
        default: { $ref: '#/components/responses/Error' }
    put:
      tags: [event]
      summary: RSVP to an event
      description: |
        May be visible to other attendees depending on the event's `showAttendance`.

        The accepted `statusId` values (going / interested / not going) are **not
        resolvable** from the web bundle, so they are left as an opaque integer rather
        than guessed at.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                statusId: { type: integer }
      responses:
        '200': { description: RSVPed }
        default: { $ref: '#/components/responses/Error' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        `Authorization: Bearer <jwt>`.

        The `accessToken` returned by authenticate and refresh is **already prefixed**
        with `"Bearer "`. Strip it and add exactly one, or you produce `Bearer Bearer`,
        which the profile service accepts and messaging and SignalR reject with an
        empty-body 401.

  parameters:
    culture:
      name: culture
      in: query
      required: true
      description: Required on every request.
      schema: { type: string, enum: [en, fr, es, de, pt], default: en }
    deviceTypeId:
      name: deviceTypeId
      in: query
      schema: { type: integer, enum: [0, 1, 2, 3, 4], default: 1 }
      description: "0 Unknown, 1 Web, 2 iOS, 3 Android Play, 4 Android X."
    imageSizes:
      name: imageSizes
      in: query
      description: |
        Comma-separated rendition codes. **Only 100–104 exist.** One `files[]` entry is
        returned per code requested.
      schema: { type: string, examples: ['100,104', '102,104'] }
    profileId:
      name: profileId
      in: path
      required: true
      description: Your active profile id. All messaging is keyed by this.
      schema: { type: string, format: uuid }
    conversationId:
      name: conversationId
      in: path
      required: true
      schema: { type: string, format: uuid }
    accountId:
      name: accountId
      in: path
      required: true
      schema: { type: string, format: uuid }
    sessionId:
      name: sessionId
      in: path
      required: true
      schema: { type: string, format: uuid }

    targetProfileId:
      name: targetProfileId
      in: path
      required: true
      description: The other member's profile id.
      schema: { type: string, format: uuid }
    galleryId:
      name: galleryId
      in: path
      required: true
      schema: { type: string, format: uuid }
    fileId:
      name: fileId
      in: path
      required: true
      schema: { type: string, format: uuid }
    eventId:
      name: eventId
      in: path
      required: true
      schema: { type: string, format: uuid }
    bulkMessageId:
      name: bulkMessageId
      in: path
      required: true
      schema: { type: string, format: uuid }
    sortProperty:
      name: sortProperty
      in: query
      description: |
        `2` on gallery lists, all-photos and gallery files; `3` on the main gallery. The
        meaning of each is server-side and undetermined.
      schema: { type: integer, enum: [2, 3] }

  responses:
    Error:
      description: |
        RFC 7807 ProblemDetails plus Recon's own members. Note `t101ErrorCode` appears
        both nested under `extensions` and promoted to the top level.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

  schemas:
    ProblemDetails:
      type: object
      description: The standard members are frequently `null`; `title` is the useful one.
      properties:
        type: { type: [string, 'null'] }
        title: { type: [string, 'null'], description: The only human-readable prose. }
        status: { type: [integer, 'null'] }
        detail: { type: [string, 'null'] }
        instance: { type: [string, 'null'] }
        link: { type: [string, 'null'], description: A Recon addition. }
        t101ErrorCode:
          type: [integer, 'null']
          description: |
            Recon's numeric code, in the form `AAA000BBB`. Also present under
            `extensions`. Meanings are context-dependent — the same code appears with
            different titles on different endpoints.
        extensions:
          type: [object, 'null']
          properties:
            t101ErrorCode: { type: integer }
        errors:
          type: [object, 'null']
          description: ASP.NET ModelState dictionary, on validation failures.
          additionalProperties:
            type: array
            items: { type: string }
      examples:
        - type: null
          title: Invalid GUID parameter.
          status: 404
          detail: null
          instance: null
          link: null
          extensions: { t101ErrorCode: 901000001 }
          t101ErrorCode: 901000001

    AppInstallationRequest:
      type: object
      required: [applicationId, deviceTypeId, appVersion, userAgent]
      properties:
        applicationId:
          type: integer
          const: 3
          description: Must be the integer 3. A UUID is rejected.
        deviceTypeId: { type: integer, default: 1 }
        appVersion: { type: string, examples: ['1.7.31'] }
        userAgent:
          type: string
          description: Truncated to 255 characters and recorded as the device description.
        description: { type: string }
        isInstalledPwa: { type: boolean, default: false }

    AppInstallation:
      type: object
      properties:
        id: { type: string, format: uuid }
        createdDate: { type: string, format: date-time }
        lastUsedDate: { type: string, format: date-time }
        applicationId: { type: integer }
        deviceTypeId: { type: integer }
        appVersion: { type: string }
        userAgent: { type: string }
        description: { type: string }
        isInstalledPwa: { type: boolean }

    AuthenticateRequest:
      type: object
      required: [emailAddress, password, deviceTypeId, appVersion, userAgent, appInstallationId]
      properties:
        emailAddress: { type: string, format: email }
        password: { type: string, format: password }
        deviceTypeId: { type: integer, default: 1 }
        appVersion: { type: string }
        userAgent: { type: string }
        appInstallationId: { type: string, format: uuid }

    TokenSet:
      type: object
      properties:
        accessToken:
          type: string
          description: "⚠️ ALREADY prefixed with `Bearer `. Strip before use."
          examples: ['Bearer eyJhbGciOiJSUzI1NiIs…']
        accessTokenExpiry: { type: string, format: date-time, description: 15 minutes out. }
        refreshToken: { type: string }
        refreshTokenExpiry: { type: string, format: date-time, description: 14 days out. }
        accountId: { type: string, format: uuid }
        sessionId: { type: string, format: uuid }
        profileIds:
          type: array
          description: One account may own several; exactly one is active.
          items: { type: string, format: uuid }
        membershipLevelId: { type: integer, description: '0 free, ≥1 premium.' }
        signalRToken:
          type: string
          description: Returned but unused — realtime authenticates with the access token.
        roles: { type: array, items: { type: string } }
        mfaEnabled: { type: boolean }

    AppSettings:
      type: object
      properties:
        environment: { type: string }
        ttlMinutes: { type: integer }
        enabledFeatures:
          type: object
          properties:
            geolocation: { type: boolean }
            pushNotification: { type: boolean }
            recaptcha: { type: boolean }
        limits: { $ref: '#/components/schemas/Limits' }
        supportedLanguages: { type: array, items: { type: string } }
        isAdminMfaRequired: { type: boolean }

    Limits:
      type: object
      properties:
        interests: { type: integer, examples: [10] }
        blocks: { type: integer, examples: [50] }
        friends: { type: integer, examples: [500] }
        following: { type: integer, examples: [500] }
        minImageResolution: { type: integer, examples: [400] }
        minPasswordLength: { type: integer, examples: [8] }
        minimumZxcvbnScore: { type: integer, examples: [3] }
        maxFileSizeBytes: { type: integer, examples: [52428800] }
        maxFileAttachments: { type: integer, examples: [10] }
        allowedFileExtensions: { type: array, items: { type: string } }
        allowedMediaMimeTypes: { type: array, items: { type: string } }
        maxMessageLength: { type: integer, examples: [1000] }
        minAge: { type: integer, examples: [18] }
        maxSearchAge: { type: integer, examples: [99] }
        visitRetentionPeriodDays: { type: integer }
        cruiseRetentionPeriodDays: { type: integer }
        standardMemberVisitDisplayPeriodDays: { type: integer }
        standardMemberCruiseDisplayPeriodDays: { type: integer }
        cruiseMinUpdatePeriodDays: { type: integer }
        maximumFilesPerProfile: { type: integer }
        maximumFilesInMainGallery: { type: integer }
        maximumUploadsInBatch: { type: integer }

    Conversation:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: [string, 'null'], description: Null for 1:1 threads. }
        isGroup: { type: boolean }
        isOfficial: { type: boolean }
        isArchived: { type: boolean }
        isReadOnly: { type: boolean, description: True exactly for official threads. }
        thumbnailMediaMetadataId: { type: string }
        thumbnailUrl: { type: [string, 'null'] }
        lastActivityDate: { type: string, format: date-time }
        participantCount: { type: integer }
        participants:
          type: array
          description: "⚠️ EXCLUDES you — length is participantCount − 1."
          items:
            type: object
            properties:
              profileId: { type: string, format: uuid }
              profileUrl: { type: string }
        createdDate: { type: string, format: date-time }
        lastMessageExcerpt: { type: string }
        contentUrl: { type: string }
        participantsUrl: { type: string }
        userInfo:
          type: object
          properties:
            isFlagged: { type: boolean }
            unreadMessageCount: { type: integer }

    CreateConversationRequest:
      type: object
      required: [participants]
      properties:
        participants:
          type: array
          description: Both you and the peer. Note the PascalCase key.
          items:
            type: object
            properties:
              ProfileId: { type: string, format: uuid }
        isGroup: { type: boolean, default: false }
        isOfficial: { type: boolean, default: false }
        isArchived: { type: boolean, default: false }

    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        senderProfileId:
          type: string
          format: uuid
          description: "⚠️ The realtime channel calls this `profileId`."
        text:
          type: string
          description: "⚠️ The realtime channel calls this `messageText`."
        isFlagged: { type: boolean }
        isRead: { type: boolean }
        displayAsHtml: { type: boolean }
        markupTypeId:
          type: [integer, 'null']
          description: |
            Honoured only on official threads: 1 Markdown, 2 raw HTML. Any other value
            renders nothing in the web client.
        createdDate: { type: string, format: date-time }
        contentTypeId:
          type: integer
          description: |
            The real wire field (1 = text). The web client reads a `messageType`
            property that no server response contains.
        attachments:
          type: array
          items: { $ref: '#/components/schemas/Attachment' }
        files:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }

    SendTextRequest:
      type: object
      required: [text, files, attachments]
      properties:
        text: { type: string, maxLength: 1000 }
        files: { type: array, items: { type: string }, description: 'Always present, usually empty.' }
        attachments: { type: array, items: { type: string }, description: 'Always present, usually empty.' }

    SendByReferenceRequest:
      type: object
      required: [text, files, attachmentIds]
      properties:
        text: { type: string }
        files: { type: array, items: { type: string } }
        attachmentIds:
          type: array
          description: Media already uploaded to the media service. Note the key differs from `attachments`.
          items: { type: string, format: uuid }

    Attachment:
      type: object
      properties:
        id: { type: string, format: uuid }
        mediaMetadataId: { type: string, format: uuid }
        thumbnailUrl: { type: string }
        files:
          type: array
          description: Ordered small to large.
          items: { $ref: '#/components/schemas/MediaFile' }
        downloadUrl: { type: string }
        isRestricted: { type: boolean }

    MediaFile:
      type: object
      properties:
        imageSize: { type: integer, enum: [100, 101, 102, 103, 104] }
        url: { type: string, format: uri, description: Absolute. Use verbatim. }

    Profile:
      type: object
      properties:
        id: { type: string, format: uuid }
        version: { type: integer, description: Monotonic; also the ETag. }
        name: { type: string }
        detailUrl: { type: [string, 'null'], description: Dereference for the long bio. }
        primaryImageFiles:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }
        membershipLevelId: { type: integer }
        dateOfBirth: { type: 'null', description: Never exposed. }
        age: { type: integer }
        heightCm: { type: [integer, 'null'] }
        shortText: { type: [string, 'null'] }
        longText: { type: [string, 'null'], description: Null here; lives on detailUrl. }
        ethnicityId: { type: [integer, 'null'] }
        positionId: { type: [integer, 'null'] }
        bodyTypeId: { type: [integer, 'null'] }
        bodyHairId: { type: [integer, 'null'] }
        safeSexId: { type: [integer, 'null'] }
        roleId: { type: [integer, 'null'] }
        location:
          type: [object, 'null']
          properties:
            locationId: { type: integer }
            locationUrl: { type: string }
        lastUpdatedDate: { type: string, format: date-time }
        interests: { type: array, items: { type: integer }, maxItems: 10 }
        createdDate: { type: string, format: date-time }
        isPublic: { type: boolean }
        isOfficial: { type: boolean }
        rowVersion: { type: 'null', description: Null on read; required on PATCH. }

    LookupValue:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, description: Localised by `culture`. }

    SearchResult:
      type: object
      description: A stub. Dereference `profileUrl` to render anything.
      properties:
        profileId: { type: string, format: uuid }
        profileUrl:
          type: string
          description: Ends in the profile version, which is how a client recovers it.
        distanceMetres: { type: integer }
        date: { type: string, format: date-time }

    SearchFilters:
      type: object
      description: Every scalar is nullable; null means "no filter".
      properties:
        distanceSliderIndex: { type: [integer, 'null'], description: Client-side only; never sent to search. }
        ageMin: { type: [integer, 'null'] }
        ageMax: { type: [integer, 'null'] }
        isPremium: { type: [boolean, 'null'] }
        isNewMember: { type: [boolean, 'null'], description: Client-side only; becomes joinedWithinDays. }
        isOnlineNow: { type: [boolean, 'null'], description: Client-side only; becomes activeWithinMinutes. }
        hasVisibleImages: { type: [boolean, 'null'] }
        heightCmMin: { type: [integer, 'null'] }
        heightCmMax: { type: [integer, 'null'] }
        positionIds: { type: array, items: { type: integer } }
        interestIds: { type: array, items: { type: integer } }
        bodyTypeIds: { type: array, items: { type: integer } }
        bodyHairIds: { type: array, items: { type: integer } }
        ethnicityIds: { type: array, items: { type: integer } }
        safeSexIds: { type: array, items: { type: integer } }
        roleIds: { type: array, items: { type: integer } }

    RelationEntry:
      type: object
      properties:
        date: { type: string, format: date-time }
        profileId: { type: string, format: uuid }
        profileUrl: { type: string }
        profileName: { type: string, description: Present on the block list only. }

    RelationCounts:
      type: object
      properties:
        withinStandardDisplayPeriod: { type: integer, description: 7-day window. }
        withinPremiumDisplayPeriod: { type: integer, description: 30-day window. }
        sinceLastViewed: { type: integer }

    FeedItem:
      type: object
      properties:
        feedItemId: { type: string, description: 'Numeric, but a string.' }
        feedItemUrl: { type: string }
        profileUrl: { type: string, description: May carry a stale version segment. }
        isSelfActor: { type: boolean }
        actionDate: { type: string, format: date-time }
        isRead: { type: boolean }
        feedItemTypeId: { type: integer, minimum: 1, maximum: 24 }

    Gallery:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        entityId: { type: string }
        imageCount: { type: integer }
        coverImageId: { type: string }
        coverImageFiles:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }
        url: { type: string }
        galleryType:
          type: object
          properties:
            id: { type: integer, minimum: 1, maximum: 11 }
            name: { type: string }
            isRestricted: { type: boolean }

    ViewedDate:
      type: object
      description: |
        A "seen" watermark. Send the `mostRecentDate` from the corresponding list
        response rather than the current time, so entries that arrived between the read
        and this call are not marked seen.
      required: [viewedDate]
      properties:
        viewedDate: { type: string, format: date-time }

    PatchOp:
      type: object
      description: |
        One RFC 6902 JSON Patch operation. The official client only ever sends `replace`;
        the server also accepts `add`, `copy`, `remove` and `test`.
      required: [op, path]
      properties:
        op: { type: string, enum: [add, copy, remove, replace, test] }
        path: { type: string, examples: ['/shortText'] }
        value: {}
        from: { type: string }

    AccountPreferences:
      type: object
      description: |
        The two metric flags are independent — an account can show imperial distance and
        metric height at once.
      properties:
        culture: { type: string, examples: ['en-GB'] }
        locale: { type: string, examples: ['en-GB'] }
        showMetricDistance: { type: boolean }
        showMetricHeight: { type: boolean }
        gmtOffsetSeconds: { type: integer, examples: [-25200] }
        countryCode2: { type: string, examples: ['us'] }

    MessagingPreferences:
      type: object
      properties:
        profileId: { type: string, format: uuid }
        messageEmail: { type: boolean }
        messagePushNotification: { type: boolean }

    RelationPreferences:
      type: object
      description: '`showVisits: false` **is** stealth mode.'
      properties:
        profileId: { type: string, format: uuid }
        showVisits: { type: boolean }
        cruiseEmail: { type: boolean }
        cruisePushNotification: { type: boolean }
        friendRequestEmail: { type: boolean }
        friendRequestPushNotification: { type: boolean }
        followerPushNotification: { type: boolean }

    ListViewStats:
      type: object
      description: |
        Last-viewed watermarks. A null value means nothing has been viewed yet, so every
        entry is unseen.
      properties:
        cruisedByLastViewedDate: { type: [string, 'null'], format: date-time }
        visitorsLastViewedDate: { type: [string, 'null'], format: date-time }

    FriendRequest:
      type: object
      description: |
        Returned for both directions. Compare `requestingProfileId` against your own id
        to tell incoming from outgoing.
      properties:
        requestingProfileId: { type: string, format: uuid }
        targetProfileId: { type: string, format: uuid }
        requestDate: { type: string, format: date-time }
        requestingProfileUrl: { type: string, format: uri }
        targetProfileUrl: { type: string, format: uri }

    SocialList:
      type: object
      description: Friends, followers or followings, split by whether the relation is reciprocated.
      properties:
        mutual:
          type: array
          items: { $ref: '#/components/schemas/RelationEntry' }
        nonMutual:
          type: array
          items: { $ref: '#/components/schemas/RelationEntry' }

    SocialCounts:
      type: object
      properties:
        mutualCount: { type: integer }
        otherCount: { type: integer }

    ProfileDetail:
      type: object
      description: |
        The long bio, split out so it can be cached and invalidated independently by
        version. `Profile.longText` is always null; this is where the text lives.
      properties:
        id: { type: string, format: uuid }
        longText: { type: string }
        version: { type: integer }

    Location:
      type: object
      properties:
        shortLocationName: { type: string }
        longLocationName: { type: string }
        ttlMinutes:
          type: integer
          description: How long the server wants this cached.
          examples: [1440]

    GeoLocation:
      type: object
      description: Position publish body.
      required: [latitude, longitude]
      properties:
        appInstallationId: { type: string, format: uuid }
        profileId: { type: string, format: uuid }
        latitude: { type: number, format: double }
        longitude: { type: number, format: double }
        recordedDate: { type: string, format: date-time }
        accuracyMetres:
          type: [integer, 'null']
          description: Device-sourced. Omit rather than inventing a value.
        lookup:
          type: object
          properties:
            longLocationName: { type: string }
            shortLocationName: { type: string }

    MembershipStatus:
      type: object
      properties:
        membershipLevelId:
          type: integer
          description: '0 = free or official, >= 1 = premium. Test `> 0` rather than a specific tier.'
        profileId: { type: string, format: uuid }
        startDate: { type: string, format: date-time }
        expiryDate: { type: string, format: date-time }
        isRecurring: { type: boolean }
        recurringBilling: { type: object }

    BulkMessage:
      type: object
      description: |
        A broadcast or sponsored message. These drive the "official" threads that appear
        in the inbox alongside real conversations.
      properties:
        id: { type: string, format: uuid }
        message:
          type: string
          description: 'Markdown-ish: carries `\n`, `**bold**` and `[link](url)`.'
        mediaUrl:
          type: string
          format: uri
          description: No file extension and no size parameter, unlike profile media.
        deviceTypeId: { type: integer }
        priority: { type: integer }
        languageId: { type: integer }
        isAdult: { type: boolean }
        startDate: { type: string, format: date-time }
        isRead: { type: boolean }
        isOfficial: { type: boolean }
        senderUrl:
          type: string
          format: uri
          description: |
            **Discriminated by `isOfficial`.** False points at `/dvrt/dvrtsrs/{id}`; true
            points at `/profile/officialProfiles/{id}` — note also the inconsistent
            `?culture=En` capitalisation on the official variant.
        linkUrl: { type: string, format: uri }
        subject: { type: string }

    Advertiser:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        isOfficial: { type: boolean }
        officialProfileUrl: { type: [string, 'null'], format: uri }
        mediaFiles:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }

    ReportCategory:
      type: object
      properties:
        id: { type: integer, examples: [13] }
        name: { type: string, examples: ['Other'] }
        priority: { type: integer }
        order: { type: integer }
        detail: { type: string }

    Report:
      type: object
      required: [reportCategoryId]
      properties:
        conversationMessageIds:
          type: array
          items: { type: string, format: uuid }
        isProfileContent: { type: boolean }
        mediaMetaDataIds:
          type: array
          items: { type: string, format: uuid }
          description: |
            Capital **D**, inconsistently with `mediaMetadataId` elsewhere in this API.
            That is the wire spelling.
        reportCategoryId: { type: integer }
        reportReason: { type: string }
        reportedByAccountId: { type: string, format: uuid }

    NameCheck:
      type: object
      properties:
        isValid: { type: boolean }
        errors:
          type: array
          items: { type: string }

    MediaFileProperties:
      type: object
      properties:
        id: { type: string, format: uuid }
        caption: { type: [string, 'null'] }
        classificationId:
          type: integer
          description: '0 = moderation pending. Values >= 1 are not resolvable from the client.'
        classificationDate: { type: string, format: date-time }
        dimensions:
          type: object
          properties:
            widthPixels: { type: integer }
            heightPixels: { type: integer }
        fileSizeInBytes: { type: integer }
        fileType: { type: string }
        files:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }
        galleryPositions:
          type: array
          items:
            type: object
            properties:
              galleryId: { type: string, format: uuid }
              galleryTypeId: { type: integer }
              position: { type: integer }
        isRestricted: { type: boolean }
        uploadDate: { type: string, format: date-time }
        rotationDegrees: { type: integer }

    MediaFilePropertiesList:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/MediaFileProperties' }
        totalRecords: { type: integer }

    Event:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        location: { type: string }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        showAttendance: { type: boolean }
        thumbnailImageFiles:
          type: array
          items: { $ref: '#/components/schemas/MediaFile' }
        url: { type: string, format: uri }
        isSponsored: { type: boolean }
        sponsorName: { type: string }
        country: { type: string }
        photosBy: { type: string }
        mediaCount: { type: integer }
        content: { type: string }
        slug: { type: string }
